---
import styles from "./aboutInfo.module.scss";
---

<div class={styles.about}>
	<div class={`container ${styles.container}`}>
		<div class={styles.info}>
			<ul>
				<li>
					<strong>Capital:</strong> Conakry
				</li>
				<li>
					<strong>Government:</strong> Republic, Presidential Regime
				</li>
				<li>
					<strong>Official Language:</strong> French
				</li>
				<li>
					<strong>Population:</strong> 13.86 million inhabitants
				</li>
			</ul>

			<div class={styles.infoImage}>
				<img
					src="/about-1.webp"
					alt="about-us"
					width="200"
					height="200"
				/>
			</div>

			<div class={styles.text}>
				<p>
					The Guinean population is ethnically diverse. The main
					ethnic groups are the Malinké, Peulh, Soussou, Kissi,
					Guerzé, Toma, Manon, and others.
				</p>

				<p>
					The majority of the population is Muslim across all regions
					of the country (89.1%). There is also a significant
					Christian community (6.8%).
				</p>

				<div class={styles.infoImage}>
					<img
						src="/about-2.webp"
						alt="about-us"
						width="200"
						height="200"
					/>
				</div>

				<p>
					Guinea is divided into eight (8) administrative regions and
					four (4) natural regions, each characterized by distinct
					topography, climate, flora, fauna, and cultural traditions:
				</p>
			</div>

			<ol>
				<li>
					<strong>Lower Guinea (Maritime):</strong> Coastal region with
					plains and mangroves.
				</li>
				<li>
					<strong>Middle Guinea (Fouta Djallon):</strong> Mountainous area,
					the historical and cultural heart of Guinea.
				</li>
				<li>
					<strong>Upper Guinea:</strong> Semi-arid plateau with savannas.
				</li>
				<li>
					<strong>Forest Guinea:</strong> Humid and forested region, rich
					in biodiversity.
				</li>
			</ol>
		</div>

		<div class={styles.images}>
			<img src="/about-1.webp" alt="about-us" width="200" height="200" />

			<img src="/about-2.webp" alt="about-us" width="200" height="200" />
		</div>
	</div>
</div>
