---
import styles from "./nav.module.scss";

const items = [
	{ text: "About us", link: "/about" },
	{ text: "Investment Opportunities", link: "/investment-opportunities" },
];
---

<nav class={styles.nav}>
	<div class={`container ${styles.container}`}>
		<div class={styles.logo}>
			<a href="/">
				<img
					src="/logo.svg"
					alt="AMBASSADE DE LA REPUBLIQUE DE LA GUINEE CONAKRY EN INDE"
				/>
			</a>
		</div>
		<div class={styles.main}>
			<div class={styles.control}>
				<input id="nav" type="checkbox" />
				<label for="nav">
					<span></span>
				</label>
			</div>
			<ul class={styles.links}>
				{
					items.map((item) => {
						const { link, text } = item;
						return (
							<li class={styles.link_item}>
								<a
									data-path={link}
									class={`link ${styles.link}`}
									href={link}
								>
									{text}
								</a>
							</li>
						);
					})
				}
				<li class={styles.nav_logo}>
					<img
						src="/logo.svg"
						alt="AMBASSADE DE LA REPUBLIQUE DE LA GUINEE CONAKRY EN INDE"
					/>
				</li>
			</ul>
		</div>
		<div class={styles.qr}>
			<img src="/qr-black.png" alt="" />
		</div>
	</div>
</nav>

<script>
	import styles from "./nav.module.scss";

	document.addEventListener("astro:page-load", () => {
		const nav = document.getElementsByTagName("nav");
		const navLinks = nav[0].querySelectorAll(".link");
		const sublinks = nav[0].querySelectorAll(".sublink");

		const currentPath = window.location.pathname;
		navLinks.forEach((link) => {
			const linkPath = link.getAttribute("data-path");
			if (!linkPath) return;

			if (currentPath === linkPath) {
				link.classList.add(styles.active);
			}
		});

		sublinks.forEach((link) => {
			const linkPath = link.getAttribute("data-path");
			if (!linkPath) return;

			if (currentPath === linkPath) {
				link.classList.add(styles.active);
			}
		});
	});
</script>
